body {
  background-color: black;
  font-family: Arial, sans-serif;
  font-weight: 600;
  color: white;
}

.dad {
  display: flex;
  height: 30px;
  justify-content: center;
}

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
  color: #fff;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
